.menuGrid {
    margin-bottom: 1rem !important;
}

.menuItems {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    flex: 1;
    font-family: 'Lalezar', cursive !important;
    font-size: 1.15rem !important;


}

.itemsDesc {
    display: flex !important;
    direction: rtl !important;
    font-family: 'Scheherazade', serif !important;
    font-size: 0.9rem !important;
    font-weight: 600 !important;
}

.menuItemDash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90% !important;
    margin-top: 1rem !important;
    border-image: linear-gradient(90deg, rgba(121, 121, 121, 0.5663515406162465) 0%, rgba(32, 32, 32, 1) 50%, rgba(121, 121, 121, 0.583158263305322) 100%) 30;
    border-width: 0.5px;
    border-style: solid;

}

.background {
    margin-top: 4rem !important;

}


.background {
    margin-right: 0 !important;
    overflow-y: scroll;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.background ::-webkit-scrollbar {
    display: none;
}

.removeButton {
    color: rgb(0, 0, 0);
}

.addButton {
    color: rgb(0, 0, 0);
}