.menuGrid {
    margin-bottom: 1rem !important;
    position: relative !important;
}

.sold_out {
    position: absolute !important;
    height: 100%;
    top: -10px;
    filter: opacity(0.7);
}

.menuCard {
    margin: 0.7rem !important;
    display: flex;
    flex-direction: column;
    border: 1px solid #fefefe;
    border-radius: 0.8rem;
    background-color: rgba(0,0,0,0.5);
}

.foodImage {
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    width: 100% !important;
    height: 14rem !important;
}

.menuItems {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    flex: 1;
    font-family: "Lalezar", cursive !important;
    font-size: 1.2rem !important;
    padding: 0.6rem;
}

.itemsDesc {
    display: flex !important;
    direction: rtl !important;
    font-family: IRANSans_Normal;
    // font-family: 'Scheherazade', serif !important;
    font-size: 0.6rem !important;
    font-weight: 600 !important;
    padding: 0.6rem;
}

.menuItemDash {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90% !important;
    margin-top: 1rem !important;
    border-image: linear-gradient(
            90deg,
            rgba(171, 169, 138, 1) 0%,
            rgba(87, 83, 49, 1) 50%,
            rgba(171, 169, 138, 1) 100%
        )
        40;
    border-width: 0.5px;
    border-style: solid;
}

.background {
    margin-top: 1rem !important;
}

.background {
    margin-right: 0 !important;
    overflow-y: scroll;
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
}

.background ::-webkit-scrollbar {
    display: none;
}

.removeButton {
    color: rgb(0, 0, 0);
}

.addButton {
    color: rgb(0, 0, 0);
}

.astrodivider {
    width: 400px;
    max-width: 100%;
    position: relative;
    margin: 50px auto !important;
}

.astrodividermask {
    overflow: hidden;
    height: 20px;
}

.astrodividermask:after {
    content: "";
    display: block;
    margin: -25px auto 0 !important;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px #bbb996;
}

.astrodivider span {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px !important;
    left: 50%;
    margin-left: -25px !important;
    border-radius: 100%;
    box-shadow: 0 2px 4px #837d47;
    background: rgb(255, 252, 230);
}

.astrodivider i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #FACF69;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #a2af9c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDivShadowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.maintRomaDiv {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 4rem !important;
    width: 20rem;
    border-radius: 0.3rem !important;
}

.categoryDescriptionDiv {
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100% !important;
    width: 80%;
    overflow: hidden;
    text-wrap: wrap;
    padding: 1rem 2rem;
    border-radius: 0.3rem !important;
}

.typingDiv {
    width: max-content;
    display: flex;
    justify-content: center;
    direction: rtl;
}

.categoryDescriptionText {
    font-family: IRANSans_Normal !important;
    font-size: 1.1rem !important;
    overflow: hidden;
    direction: rtl;
    text-align: center;
}

.romatext {
    font-family: IRANSans_Normal !important;
    font-size: 1.1rem !important;
    overflow: hidden;
    border-left: 0.15em solid orange;
    white-space: nowrap;
    margin: 0 0;
    direction: rtl;
    animation:
        typing 4.5s steps(40, end) infinite,
        blink-caret 0.75s step-start infinite;
}

.textIcon {
    font-size: 0.8rem !important;
    padding-left: 0.3rem;
}

@keyframes typing {
    0% {
        width: 0;
    }
    60%{
        width: 100%;
    }
    100% {
        width: 100%;
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: orange;
    }
}
